.home-screen {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 48px;


        height: calc(100vh - 64px);
    }

    &__logo-container {
        display: grid;
        gap: 24px;
        justify-items: center;
    }

    &__title {
        font-size: 36px;
    }

    &__logo-image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        display: block;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}
