@if (dish$ | async; as dish) {
    <div class="dish-detail__gallery">
        @for (image of dish.images; track $index) {
            <app-image
                class="dish-detail__gallery-item"
                [src]="image"
                [alt]="dish.name"
            />
        }
    </div>

    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ dish.name }}</mat-card-title>
            <mat-card-subtitle>{{ dish.price }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <h3 class="dish-detail__info-item-heading">Description</h3>
            <p class="dish-detail__info-item">{{ dish.description }}</p>

            <h3>Ingredients</h3>
            <mat-chip-set>
                @for (ingredient of dish.ingredients; track $index) {
                    <mat-chip>
                        {{ ingredient }}
                    </mat-chip>
                }
            </mat-chip-set>

            <h3 class="dish-detail__info-item-heading">Allergens</h3>
            <mat-chip-set class="dish-detail__allergens">
                @for (allergen of dish.allergens; track $index) {
                    <mat-chip color="warn">
                        {{ allergen }}
                    </mat-chip>
                }
            </mat-chip-set>

            <h3 class="dish-detail__info-item-heading">History</h3>
            <p class="dish-detail__info-item">{{ dish.history }}</p>
        </mat-card-content>
    </mat-card>
}
